*{
    padding:0px;
    margin:0px;
}
body{
    background-color: #fbfaf8;
}
.container{
    display: flex;
    width:100%;
}
#left{
    padding-top: 3%;
    width: 60%;
    height: 90%;
    border-radius: 10px;
    overflow: hidden;
}
#left img { 
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center; 
}
#right{
    display: flex;
    margin: 20px;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #cb8f97;
    border-radius: 10px;
    height: fit-content;
    margin-top: 8%;
    box-shadow: 0 6px 18px rgba(0,0,0,0.12), 0 0 0 4px rgba(255,0,0,0.08);
}
h2{
    margin: 10px;
    color: #cb8f87;
}
input{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}
button{
    margin: 10px;
    margin-left: 25%;
    padding: 10px;
    border-radius: 5px;
    background-color: #cb8f97;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover{
    background-color: darkred;
}

