*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height:100%;
    background-color: #fcfbf7;
}
.container{
    margin:10px;
    padding:10px;
    border: 2px solid #cb8f87;
    border-radius: 10px;
    box-shadow: 0 6px 18px rgba(0,0,0,0.12), 0 0 0 4px rgba(255,0,0,0.08);
}
.navbar{
    color: red;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#d{
    color: black;
    display: flex;
    margin:5px;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color:red;
}
a:hover{
    text-decoration: underline;
}
.cars{
    margin:15px 10px 10px 10px;
    /* background-image: url('images/main.jpg'); */
    background-color: white;
    background-size: 80% 90%;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    border: 2px solid #fcfbf7;
    border: 2px solid #cb8f87;
    box-shadow: 0 6px 18px rgba(0,0,0,0.12), 0 0 0 4px rgba(255,0,0,0.08);
    border-radius: 10px;
    display:flex;
    padding: 10px;
    width:1250px;
    flex-direction: row;
}
.card{
    border: 2px solid;
    border-radius: 10px;
    margin:10px;
    padding:10px;
    width:390px;
    height:fit-content;
    text-align: center;
    background-color: white;
}
.zap{
    width:365px !important;
    height:249px !important;
    border-radius: 10px !important;
}
button{
    padding:10px;
    border:none;
    border-radius: 5px;
    background-color: red;
    color:white;
    font-size: 16px;
    cursor: pointer;
}
button:hover{
    background-color: darkred;
}   
h3,p{
    margin:7px;
}