*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
#container{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #f3efee;
    margin: auto;
}
#left{
    width: 50%;
    height: 90%;
    border-radius: 10px;
    overflow: hidden;
}
#left img { 
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center; 
}
#right{
    color: red;
    width: 40%;
    height: 90%;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
form{
    border: 2px solid red;
    padding: 35px;
    border-radius: 10px;
    display: flex;
    text-align: center;
    flex-direction: column;
    box-shadow: 0 6px 18px rgba(0,0,0,0.12), 0 0 0 4px rgba(255,0,0,0.08);
}
h1{
    margin-bottom: 20px;
}
label{
    margin-bottom:20px;
    font-size: 20px;
}
input{
    border-radius: 7px;
    padding: 5px;
    margin-left: 5px;
}
input:hover{
    box-shadow: 0 0 5px rgba(34, 33, 33, 0.5);
}
#btn{
    margin-top: 20px;
    padding: 10px;
    border-radius: 7px;
    border: none;
    background-color: red;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
#btn:hover{
    background-color: darkred;
}   